:root {
  --bg-sunny: #7A7EEA;
}

body {
  background-color: var(--bg-sunny);
  color: white;
}

h1 {
  font-size: 2rem;
}

/* Search */

#temp-city {
  font-size: 4rem;
  text-decoration: underline;
}

/* TabbedCards */

.tabbedCardsTop {
  margin-top: 3rem;

  width: 420px;
  height: 254px;
  background: #5458A7;
  border-radius: 50px 50px 0px 0px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.1rem;
  width: 210px;
  height: 65px;
  background: #444787;
  border-radius: 0px 0px 50px 50px;

  font-size: 1.5rem;
}

.tab.active {
  background: #5458A7;
}

/* WeatherDetailsToday */

.todayDate {
  margin: 0.5rem 0;

  text-align: center;
  color: var(--bg-sunny);
}

.weatherDetailsToday {
  padding: 0 3rem;
}

.weatherDetailsToday .temp {
  margin: 0;

  font-weight: bold;
  font-size: 5rem;
}

.weatherDetailsToday p {
  margin: 0;
}

/* WeatherDetailsFive */

.weatherDetailsFive {
  display: flex;
  flex-wrap: wrap;
}

/* WeatherDetailsSmall */

.weatherDetailsSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 20%;
  height: 254px;
}

.weatherDetailsSmall.active {
  background-color: #4F529D;
}