:root {
  --bg-night: #525252;
  --accent-1-night: #2c2c2c;

  --bg-morning: #EAA27A;
  --accent-1-morning: #7c5742;

  --bg-day: #7A7EEA;
  --accent-1-day: #444787;

  --bg-evening: #977AEA;
  --accent-1-evening: #4e3f77;

  --bg-card-top: rgba(0,0,0,0.25);
  --accent-2: rgba(0,0,0,0.12);
}

body {
  background-color: var(--bg-day);
  color: white;
}

/* Header */

h1 {
  font-size: 2rem;
}

h1 a {
  color: white;
}

h1 a:hover {
  color: white;
  text-decoration: none;
}

/* https://stackoverflow.com/questions/40628410/trying-to-make-a-link-bounce-on-hover */

h1:hover {
  animation: bounce 0.5s 2;
}

@keyframes bounce {
  0%,  
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-3px);
  }
}

/* Search */

.locationDropdown .locationToggle {
  padding: 0 20px 20px;

  color: white;
  font-size: 4rem;
}

.locationDropdown .locationToggle span {
  text-decoration: underline;
}

.locationDropdown .locationToggle:hover {
  border-radius: .25rem;

  background-color: rgb(255,255,255,0.04);
  color: white;
  text-decoration: none;
}

.locationDropdown .dropdown-menu {
  background-color: var(--accent-1-day);
}

.locationDropdown .dropdown-item {
  color: white;
}

.locationDropdown .dropdown-item:hover {
  background-color: var(--bg-card-top);
  color: white;
}

/* TabbedCards */

.tabbedCardsTop {
  margin-top: 3rem;

  width: 420px;
  height: 254px;
  background-color: var(--bg-card-top);
  border-radius: 50px 50px 0px 0px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.1rem;
  width: 210px;
  height: 65px;
  background-color: var(--accent-1-day);
  border-radius: 0px 0px 50px 50px;
  border-style: none;

  color: white;
  font-size: 1.5rem;
}

.tab:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tab.active {
  background-color: var(--bg-card-top) !important;
}

/* WeatherDetailsCurrent */

.currentDate {
  margin: 0.5rem 0;

  text-align: center;
  color: var(--bg-day);
}

.weatherDetailsCurrent {
  padding: 0 3rem;
}

.weatherDetailsCurrent .temp {
  margin: 0;

  font-weight: bold;
  font-size: 5rem;
}

.weatherDetailsCurrent p {
  margin: 0;
}

/* WeatherDetailsFive */

.weatherDetailsFive {
  display: flex;
  flex-wrap: wrap;
}

/* WeatherDetailsSmall */

.weatherDetailsSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 254px;
}

.weatherDetailsSmall:first-of-type {
  border-radius: 50px 0 0 0;
}

.weatherDetailsSmall:last-of-type {
  border-radius: 0 50px 0 0;
}

.weatherDetailsSmall.alt {
  background-color: var(--accent-2);
}

.weatherDetailsSmall .tempMax, .weatherDetailsSmall .tempMin {
  font-size: 1.5rem;
  font-weight: bold;
}

.weatherDetailsSmall .tempMin {
  color: var(--accent-1-day);
}

/* Night */
.night {
  background-color:var(--bg-night);
}

.night .locationDropdown .dropdown-menu {
  background-color: var(--accent-1-night);
}

.night .tab {
  background-color: var(--accent-1-night);
}

.night .currentDate {
  color: var(--bg-night);
}

.night .weatherDetailsSmall .tempMin {
  color: var(--accent-1-night);
}

/* Morning */
.morning {
  background-color:var(--bg-morning);
}

.morning .locationDropdown .dropdown-menu {
  background-color: var(--accent-1-morning);
}

.morning .tab {
  background-color: var(--accent-1-morning);
}

.morning .currentDate {
  color: var(--bg-morning);
}

.morning .weatherDetailsSmall .tempMin {
  color: var(--accent-1-morning);
}

/* Day (default styles) */

/* Evening */
.evening {
  background-color:var(--bg-evening);
}

.evening .locationDropdown .dropdown-menu {
  background-color: var(--accent-1-evening);
}

.evening .tab {
  background-color: var(--accent-1-evening);
}

.evening .currentDate {
  color: var(--bg-evening);
}

.evening .weatherDetailsSmall .tempMin {
  color: var(--accent-1-evening);
}