:root {
  --bg-sunny: #7A7EEA;
  --bg-card-top: #5458A7;
  --accent-1: #444787;
}

body {
  background-color: var(--bg-sunny);
  color: white;
}

h1 {
  font-size: 2rem;
}

/* Search */

#temp-city {
  font-size: 4rem;
  text-decoration: underline;
}

/* TabbedCards */

.tabbedCardsTop {
  margin-top: 3rem;

  width: 420px;
  height: 254px;
  background: var(--bg-card-top);
  border-radius: 50px 50px 0px 0px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.1rem;
  width: 210px;
  height: 65px;
  background: var(--accent-1);
  border-radius: 0px 0px 50px 50px;
  border-style: none;

  color: #fff;
  font-size: 1.5rem;
}

.tab:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.tab.active {
  background: var(--bg-card-top);
}

/* WeatherDetailsCurrent */

.currentDate {
  margin: 0.5rem 0;

  text-align: center;
  color: var(--bg-sunny);
}

.weatherDetailsCurrent {
  padding: 0 3rem;
}

.weatherDetailsCurrent .temp {
  margin: 0;

  font-weight: bold;
  font-size: 5rem;
}

.weatherDetailsCurrent p {
  margin: 0;
}

/* WeatherDetailsFive */

.weatherDetailsFive {
  display: flex;
  flex-wrap: wrap;
}

/* WeatherDetailsSmall */

.weatherDetailsSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 254px;
}

.weatherDetailsSmall:first-of-type {
  border-radius: 50px 0 0 0;
}

.weatherDetailsSmall:last-of-type {
  border-radius: 0 50px 0 0;
}

.weatherDetailsSmall.active {
  background-color: #4F529D;
}

.weatherDetailsSmall .tempMax, .weatherDetailsSmall .tempMin {
  font-size: 1.5rem;
  font-weight: bold;
}

.weatherDetailsSmall .tempMin {
  color: var(--accent-1);
}