@import url('https://fonts.googleapis.com/css?family=Sarabun:regular,bold');

body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}